@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .mob-address-phone-link {
    color: var(--herobutton-bckgnd-color);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    width: 100%;
  }

  .mob-socials-list {
    gap: 56px;
    max-width: 428px;
  }

  .hero-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .doing-section {
    display: none;
  }

  .footer-email-input {
    min-width: 398px;
  }

  .customers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  .customers-block-item {
    width: 110px;
    height: 56px;
  }

  .customers-item {
    width: calc((100% - 16px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
  }

  .customers-links {
    width: 100%;
    height: 100%;
    gap: 24px;
    border: 1px solid var(--customers-image-color);
    color: var(--customers-image-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 429px) and (max-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero-image-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero-section {
        background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero-image-mob-2x.jpg);
      }
  }
}



@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-menu-item {
  }

  .header-mobile-open-btn,
  .header-hamburger-icon {
    display: none;
  }

  .header-menu-link {
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-current {
    color: var(--hover-focus-color);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--hover-focus-color);
  }

  .header-address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    /* gap: 40px; */
    gap: 12px;
  }

  .header-address-item {
  }

  .header-address-link {
    color: var(--secondary-color);
    font-style: normal;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--hover-focus-color);
  }

  .current {
    position: relative;
    color: var(--hover-focus-color);
  }
  .current::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -8px;
    /* bottom: -4px; */
    height: 4px;
    background-color: var(--hover-focus-color);
    border-radius: 2px;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current:hover::after {
    background-color: var(--hover-focus-color);
  }
/* 
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-image-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-image-tab-2x.jpg);
    }
  } */

  .hero-section-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .doing-section {
    display: none;
  }

  .advantages-section-list {
    gap: 72px 24px;
  }

  .advantages-list {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: start;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-section-item {
  }

  .customers-list {
    gap: 72px 24px;
    justify-content: center;
    align-items: center;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    width: 168px;
    height: 88px;
  }
  .customers-block-item {
    width: 104px;
    height: 56px;
  }

  .footer > .container {
    max-width: 584px;
  }

  .footer {
    padding: 100px 0;
    display: flex;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .footer-logo-container {
    margin-right: 24px;
  }

  .footer-logo {
    color: var(--herobutton-bckgnd-color);
    display: inline-block;
  }

  .footer-socials-container {
    display: block;
    margin-bottom: 0;
  }

  .footer-container-p {
    text-align: start;
  }

  .footer-socials-list {
    display: flex;
    gap: 16px;
  }

  .subscribe-container {
    display: block;
  }

  .subscribe-p {
    text-align: start;
    width: 264px;
  }

  .footer-subscribe-form {
    display: flex;
    gap: 24px;
  }

  .footer-label-email {
  }

  .footer-email-input {
    min-width: 264px;
  }

  .footer-subscribe-button {
    margin: 0;
    margin-bottom: auto;
  }

  .portfolio-hero-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  
  .portfolio-btns-list {
    display: flex;
    row-gap: 16px;
    column-gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
    max-width: 100%;
    /* margin-bottom: 72px; */
  }

  .portolio-btns {
    padding: 12px 24px;
  }

  .developments-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  
  .develops-list-item {
    width: calc((100% - 24px) / 2);
  }

}

@media (min-width: 769px) and (max-width: 1440px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-image.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-image-2x.jpg);
    }
  }
}


@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-menu-item {
  }

  .header-mobile-open-btn,
  .header-hamburger-icon {
    display: none;
  }

  .header-menu-link {
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-current {
    color: var(--hover-focus-color);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--hover-focus-color);
  }

  .header-address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-address-item {
  }

  .header-address-link {
    color: var(--secondary-color);
    font-style: normal;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--hover-focus-color);
  }

  .current::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -4px;
    height: 4px;
    background-color: var(--hover-focus-color);
    border-radius: 2px;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-section {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-image.jpg);
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-image-2x.jpg);
    }
  }

  .hero-section-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .advantages {
    padding: 120px 0;
  }

  .advantages-section-list {
    gap: 24px;
  }

  .advantages-list {
    width: calc((100% - 72px) / 4);
  }

  .advatages-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    background-color: var(--portfolio-btns-bckgnd-color);
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    color: var(--main-color);
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advantages-text {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .doing-section {
    display: block;
    padding-bottom: 120px;
  }

  .doing-section-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .doing-list {
    display: flex;
    gap: 24px;
  }

  .our-team-section {
    padding: 120px 0;
  }

  .customers-section {
    padding: 120px 0;
  }

  .customers-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer > .container {
    max-width: 1158px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .footer-logo-container {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .subscribe-container {
    margin-left: 80px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-email-input {
    opacity: none;
  }

  .portfolio-hero-section {
  padding-top: 96px;
  padding-bottom: 120px;
  }
  
  .portfolio-btns-list {
    display: flex;
    row-gap: 16px;
    column-gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
    max-width: 100%;
    margin-bottom: 72px;
  }

  .developments-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  
  .develops-list-item {
    width: calc((100% - 48px) / 3);
  }

  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
